{% import "bootstrap/wtf.html" as wtf %}
{%- extends "base.html" %}

{% block content %}
<div class="container">
  {% include 'flash.html' %}
  <form action="{{ url_for('signup') }}" class="form form-horizontal" method="Post">
    {{form.csrf_token}}
    <fieldset>
      <div>{{ wtf.form_field(form.name) }}</div>
      <div>{{ wtf.form_field(form.email) }}</div>
      <div>{{ wtf.form_field(form.phone) }}</div>
      <div class="form-group">
        <button class="btn btn-default" type="submit">
        Criar conta
        </button>
      </div>
    </fieldset>    
  </form>    
</div>
{% endblock %}